.p10{
	padding: 10px;
}
.p20{
	padding: 20px;
}
.pr7{
	padding-right: 7px;
}
.pr10{
	padding-right: 10px;
}
.pr20{
	padding-right: 20px;
}
.pl5{
	padding-left: 5px;
}
.pl10{
	padding-left: 10px;
}
.pl20{
	padding-left: 20px;
}
.pl11{
	padding-left: 11px;
}
.pb5{
	padding-bottom: 5px;
}
.pb10{
	padding-bottom: 10px;
}
.pb20{
	padding-bottom: 20px;
}
.pb25{
	padding-bottom: 25px;
}
.pt4{
	padding-top: 4px;
}
.pt5{
	padding-top: 5px;
}
.pt10{
	padding-top: 10px;
}
.pt20{
	padding-top: 20px;
}
.mb0{
	margin-bottom: 0;
}
.mb10{
	margin-bottom: 10px;
}
.mb15{
	margin-bottom: 15px;
}
.mr40{
	margin-right: 40px;
}
.mr10{
	margin-right: 10px;
}
.mt10{
	margin-top: 10px;
}
.mt30{
	margin-top: 30px;
}
.w323{width: 323px;}
.w800{width: 800px;}
.h100{height: 100px;}
.fz12{font-size: 12px;}
.fl{float:left;}
.fr{float:right;}
.fn{float:none;}
.al{text-align:left;}
.ac{text-align:center;}
.ar{text-align:right;}
.ov{overflow:hidden;}
.va{vertical-align: middle;}
.pr{position: relative}
.ib{display: inline-block;}
.txt-red{color: red;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom: 1;}
